# http://editorconfig.org

root = true

[*]
indent_style = space
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

[*.{ts,tsx,js,yaml,yml,json}]
indent_size = 2

[*.{md,txt}]
indent_size = 4
trim_trailing_whitespace = false

[postman/**/*.json]
indent_style = tab

[Makefile]
indent_style = tab
