# force everyone to use the node version from the package.json
engineStrict=true
# always save installed packages without version range
save-exact=true
# always amends --ignore-scripts on npm installs
ignore-scripts=true
