.DS_Store

.codeclimate.yml
.editorconfig
.eslintrc
.gitattributes
.github/
.husky/
.nvmrc
.nyc_output/
.prettierignore
commitlint.config.js
coverage/
examples/
source/**/*test.js
source/test/fixtures/
