name: pkg-size

on:
  pull_request:
    branches:
      - main
      - alpha
      - beta

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      # required by pkg-size/action@v1
      pull-requests: write
    steps:
    - uses: actions/checkout@v3
    - uses: ./.github/actions/setup
    - uses: pkg-size/action@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
